/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /* 
      Color mode HSL(hue, saturation, lightness)

      Change favorite color:

      Default Cyan: hsl(180, 80%, 48%)
      Blue: hsl(220, 90%, 64%) - Pink: hsl(300, 70%, 64%)
      Green: hsl(110, 70%, 64%) - Purple: hsl(255, 70%, 64%)
      Orange: hsl(15, 80%, 64%) - Red: hsl(358, 80%, 64%)

      For more colors visit: https://htmlcolorcodes.com/
      -> Choose any color 
      -> Copy the color mode (HSL)
  */
  --hue: 180;
  --first-color: hsl(var(--hue), 80%, 48%);
  --first-color-alt: hsl(var(--hue), 80%, 44%);
  --white-color: hsl(var(--hue), 8%, 92%);
  --black-color: hsl(var(--hue), 4%, 8%);
  --gray-color: hsl(var(--hue), 4%, 50%);
  --body-color: hsl(var(--hue), 8%, 8%);
  --container-color: hsl(var(--hue), 8%, 12%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Unbounded", sans-serif;
  --bigger-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --bigger-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font: var(--font-light) var(--normal-font-size) var(--body-font);
}

body {
  background-color: var(--body-color);
  color: var(--white-color);
}

button {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s;
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo{
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle, .nav__close{
  cursor: pointer;
  font-size: 1.5rem;
}

/* Navigation for mobile devices */
@media screen and (max-width:1150px) {
  .nav__menu{
    position: fixed;
    top: -120%;
    left: 0px;
    width: 100%;
    background-color: var(--black-color);
    box-shadow: 0 8px 16px hsla(0, 0%, 0%, 5);
    border-radius: 0 0 1.5rem;
    transition: top .4s;
  }
}

.nav__list{
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link{
  position: relative;
  color: var(--white-color);
  font-weight: var(--font-medium);
  transition: color .4s, width .4s;
}

.nav__link::after{
  content: '';
  width: 0px;
  height: 2px;
  background-color: var(--first-color);
  position: absolute;
  left: 0px;
  bottom: -.5rem;
  transition: width .4s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__link:hover::after{
  width: 100%;
}

.nav__close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu{
  top: 0px;
}

/* Add shadow header */
.shadow-header{
  box-shadow: 0 2px 32px hsla(0, 0%, 0%, .5);
}

/* Active link */


/*=============== HOME ===============*/
.home__container{
  row-gap: 4rem;
  padding-block: 2.5rem 2rem;
}

.home__content{
  position: relative;
  justify-self: center;
}

.home__image{
  width: 240px;
  height: 240px;
  background-color: var(--white-color);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 5px solid var(--first-color);
  box-shadow: 0 8px 32px hsl(var(--hue), 80%, 40%, .3);
}

.home__img{
  width: 200px;
}

.home__social{
  position: absolute;
  top: 0;
  left: -2.5rem;
  display: grid;
  align-content: center;
  row-gap: 1.5rem;
}

.home__link{
  color: var(--white-color);
  font-size: 2.5rem;
  transition: transform .4s, color .4s;
}

.home__link:hover{
  transform: translateY(-0.5rem);
  color: var(--first-color);
}

.home__data{
  text-align: center;
  row-gap: 1rem;
}

.home__subtitle span{
  color: var(--first-color);
}

.home__title{
  color: var(--first-color);
  font-size: var(--bigger-font-size);
}

.home__buttons{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
  margin: 2rem;
}

/*=============== BUTTON ===============*/
.button{
  display: inline-flex;
  justify-content: center;
  background-color: var(--first-color);
  color: var(--black-color);
  font-weight: var(--font-medium);
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  transition: box-shadow .4s, color .4s;
}

.button:hover{
  box-shadow: 0 8px 24px hsla(var(--hue), 80%, 50%, .3)
}

.button__ghost{
  background-color: var(--black-color);
  color: var(--white-color);
  border: 2px solid var(--first-color);
}

.button__ghost:hover{
  background-color: var(--first-color);
}

/*=============== ABOUT ===============*/
.about__container{
  row-gap: 4rem;
}

.about__content{
  display: grid;
  row-gap: 3rem;
}

.about__data{
  text-align: center;
}

.about__description{
  margin-bottom: 3rem;
}

.about__subtitle{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
}

.about__items{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .5rem;
}

.about__item{
  background-color: var(--first-color);
  padding: .5rem .75rem;
  border-radius: 2rem;
  color: var(--black-color);
  border: 2px solid var(--body-color);
  cursor: default;
  transition: background-color .4s, border-color .4s;
}

.about__item:hover{
  background-color: var(--body-color);
  color: var(--first-color);
  border-color: var(--first-color);
}

.about__image{
  width: 240px;
  height: 240px;
  background-color: var(--white-color);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  justify-self: center;
  box-shadow: 0 8px 32px hsl(var(--hue), 80%, 50%, .3);
}

.about__img{
  width: 200px;
}


/*=============== PROJECTS ===============*/


/*=============== RESUME ===============*/


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width:540px){
  .home__container, 
  .about__container{
    grid-template-columns: 400px;
    justify-content: center;
  }

  .home__image, 
  .about__image{
    width: 200px;
    height: 200px;
  }

  .home__img, 
  .about__img{
    width: 170px;
  }
}

/* For medium devices */
@media screen and (min-width:768px){
  .home__container, 
  .about__container{
    grid-template-columns: repeat(2, 350px);
    justify-content: center;
  }

  .home__data{
    text-align: initial;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {

  .container{
    margin-inline: auto;
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }

  .nav__list{
    flex-direction: row;
    column-gap: 4rem;
  }

  .home__container{
    grid-template-columns: 400px, 480px;
    justify-content: center;
  }

  .about__container{
    grid-template-columns: 540px, 400px;
    padding-block: 3rem 2rem;
    column-gap: 3rem;
  }

  .home__image,
  .about__image{
    width: 450px;
    height: 450px;
  }

  .home__img,
  .about__img{
    width: 340px;
  }

  .about__content{
    
  }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
